
.technologies {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.client {
    padding: 1em;
    font-family: DancingScript;
    grid-row: 1/2;
    display: flex;
    justify-content: space-around;
}

.clientItem {
    
}

.backend {
    padding: 1em;
    display: flex;
    text-decoration: underline;
    font-size: 80%;
    grid-row: 2/3;
    justify-content: space-around;
    align-items: center;
}

.backendItem {
    
}