@value vars: "../../shared/variables.css";
@value dark, semidark, semilight, light from vars;

.wrapper {
    color: dark;
    font-size: 200%;
    grid-column: 3/4;
    display: flex;
    grid-row: 2/4;
    background: transparent;
    justify-content: center;
    /* background-color: light; */
}

.hidden {
    display: none;
}

.menuContainer {
    /* grid-column: 3/4; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuItem {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.wrapper a {
    color: dark;
    text-decoration: none;
}