@value vars: "../../shared/variables.css";
@value dark, semidark, semilight, light from vars;

.wrapper {
    color: dark;
    font-size: 120%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-row: 1/4;
}

.menuContainer {
    grid-column: 2/3;
    display: grid;
    flex-direction: column;
    background: transparent;
    background-color: light;
}

.menuItem {
    display: flex;
    justify-content: center;
    align-items: center;
}