.wrapper {
    max-height: 80vh;
    display: grid;
    grid-row: 2/3;
    grid-column: 1/4;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 1fr 6fr 1fr;
    align-items: center;
}

.formWrapper {
    grid-column: 2/3;
    grid-row: 2/3;
}