.wrapper {
    display: grid;
    grid-row: 2/3;
    grid-column: 1/4;
    grid-template-columns: 1fr 6fr 1fr; 
}

.messagesWrapper {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.writemessageWrapper {
    
}