@value vars: "./variables.css";
@value dark, semidark, semilight, light from vars;

.input {
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid dark;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif light;
    height: 45px;
}

.submit {
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: light;
    border: 1px solid semidark;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: dark;
}