.deepAqua {
    color: #003B46;
}
.ocean {
    color: #07575B;
}
.wave {
    color: #66A5AD;
}
.seafoam {
    color: #C4DFE6;
}

.deepAquaBackground {
    background-color: #003B46;
}

@value dark: #003B46;

@value semidark: #07575B;

@value semilight: #66A5AD;

@value light: #C4DFE6;