.deepAqua {
    color: #003B46;
}
.ocean {
    color: #07575B;
}
.wave {
    color: #66A5AD;
}
.seafoam {
    color: #C4DFE6;
}

.deepAquaBackground {
    background-color: #003B46;
}

@value dark: #1995AD;

@value semidark: #A1D6E2;

@value semilight: #BCBABE;

@value light: #F1F1F2;


@value DancingScript: 'Dancing Script', cursive;

@value WorkSans: 'Work Sans', sans-serif;