@value vars: "../../shared/variables.css";
@value dark, semidark, semilight, light, DancingScript from vars;

.wrapper {
    display: grid;
    grid-row: 1/4;
    grid-column: 1/4;
    grid-template-columns: 1fr 6fr 1fr; 
    grid-template-rows: 1fr 6fr 1fr;
}

.parent {
    text-align: center;
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;   
    flex-direction: column;
}

.header {
    flex-direction: row;
}

.form {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}
