.parent {
    display: flex;
    align-items: center;
    justify-content: center;   
    flex-direction: column;
}

.header {
    flex-direction: row;
}

.form {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}
