@value vars: "../../shared/variables.css";
@value dark, semidark, semilight, light, DancingScript from vars;

.wrapper {
    color: dark;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    /* background-color: semidark; */
    height: 100%;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.line {
    grid-column: 1/4;
}

.someLink {
    font-size: 200%;
    transition: all .3s;
}

.someLink:hover {
    font-size: 250%;
}

.wrapper a {
    color: dark;
    text-decoration: none;
    font-family: DancingScript;
}
.wrapper a:hover {
    color: light;
}