@value vars: "../../shared/variables.css";
@value dark, semidark, semilight, light from vars;

.wrapper {
    color: light;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    background-color: semidark;
    height: 100%;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    grid-column: 1/4;
}