@value vars: "../../shared/variables.css";
@value dark, semidark, semilight, light from vars;

.wrapper {
    color: dark;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    /* background-color: semidark; */
    height: 100%;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.line {
    grid-column: 1/4;
}

.someLink {
    font-size: 200%;
}

.wrapper a {
    color: dark;
}
.wrapper a:hover {
    color: light;
}