@value vars: "../../shared/variables.css";
@value dark, semidark, semilight, light, DancingScript from vars;

.wrapper {
    margin: 0;
    color: light;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    background-color: dark;
    grid-column: 1/4;
    padding: 5px;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 130%;
}

.center {
    display: flex;
    justify-content: center;
}

.right {
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3/4;
}

.wrapper a {
   color: light;
   text-decoration: none;
}
.wrapper a:hover {
    color: semilight;
}

.technologies {
    width: 100%;
    /* grid-column: 1/4; */
    /* grid-row: 3/4; */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.client {
    font-family: DancingScript;
    /* background-color: light; */
    grid-row: 1/2;
    display: flex;
    justify-content: space-around;
    /* align-items: flex-end; */
}

.clientItem {
    
}

.backend {
    display: flex;
    text-decoration: underline;
    font-size: 80%;
    /* background-color: light; */
    grid-row: 2/3;
    justify-content: space-around;
    align-items: center;
}

.backendItem {
    
}

.copyright {
    font-family: DancingScript;
    display: flex;
    grid-row: 3/4;
    font-size: 80%;
    justify-content: center;
}