@value vars: "./shared/variables.css";
@value dark, semidark, semilight, light from vars;

* {
  /* box-sizing: border-box */
}

body {
  font-family: 'Montserrat', sans-serif;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid dark;
  margin: 1em 0;
  padding: 0; 
}

.mainWrapper {
  /* height: 100vh; */
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
}
.headerWrapper {
  /* padding: 0; */
  /* height: 10vh; */
}
.contentWrapper {
  display: grid;
  grid-template-rows: 1fr 14fr 1fr;
}
.footerWrapper {
  /* height: 10vh; */
}
