@value vars: "./shared/variables.css";
@value dark, semidark, semilight, light, WorkSans from vars;

* { margin:0; padding:0; box-sizing:border-box; }


body { font-family: WorkSans; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid dark;
  margin: 1em 0;
  padding: 0; 
}

.mainWrapper {
  height: 100%;
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
}
.headerWrapper {
}
.contentWrapper {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 14fr 1fr;
  grid-template-columns: 1fr 8fr 1fr;
}
.footerWrapper {
}
